# Виртуальное окружение Python
.venv/
venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

.env
.env.local
.env.development
.env.production

.vscode/
.idea/
*.swp
*.swo

*.log
*.sqlite
*.pid

build/
dist/
*.egg-info/
*.egg


.ipynb_checkpoints/

models/

*.tmp
*.temp

.DS_Store
Thumbs.db
